@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

:root {
  --nav-bkg: #023047;     /* nav bar background */
  --nav-link: #8ecae6;    /* nav bar link color */
  --nav-higl: #219ebc;    /* nav active and highlight */
  --ver-norm: #219ebc;    /* pkg version background - release version */
  --ver-devp: #d7263d;    /* pkg version background - dev version */

  --pg-header: #023047;   /* heading color & text links */
  --text-link: #d7263d;   /* hyperlinks in text */
  --a-hover: #219ebc;     /* hyperlink hover */

  --sdb-link: #d7263d;    /* hyperlinks in sidebar */
  --sdb-hover: #219ebc;   /* hyperlink hover in sidebar*/
  --sdb-roles: #00000094; /* author roles */

  --toc-link: #023047;    /* table of contents links */
  --toc-bkg: #8ecae6;     /* table of contents active background */

  --btn-color: #023047;   /* copy button color */
  --btn-hover: #219ebc;   /* copy button hover */

  --col-bullt: #023047;   /* color for colored list */
  --thb-captn: #023047;   /* thumbnail caption */
}


/* Navbar ------------------------------------------------------------------- */
/* Navbar color */
.bg-light {
  background-color: var(--nav-bkg) !important;
}

/* package name in navbar */
.navbar-brand {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--nav-link) !important;
}

/* Package version */
small.text-danger {
  color: var(--ver-devp) !important;
}

small.text-muted {
  color: var(--ver-norm) !important;
}

/* Color of links in navbar and hover links */
.nav-link {
  color: var(--nav-link) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--nav-higl) !important;
}

.navbar-light .navbar-nav .nav-item>.nav-link:hover {
  background: var(--nav-bkg);
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: var(--nav-higl) !important;
}

/* active navbar link */
.navbar-light .navbar-nav .active > .nav-link {
  background: var(--nav-link);
  color: var(--nav-bkg) !important;
  border-radius: 1rem;
}

/* dropdown menu */
.dropdown-menu {
  background-color: var(--nav-bkg);
  border-color: var(--nav-link);
}

.dropdown-item, .dropdown-menu > li > a {
  background-color: var(--nav-bkg);
  color: var(--nav-link);
}

.dropdown-item:hover, .dropdown-menu > li > a:hover,
.dropdown-item:focus, .dropdown-menu > li > a:focus {
    color: var(--nav-higl);
    text-decoration: none;
    background-color: var(--nav-bkg);
}

span.navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(68%) sepia(34%) saturate(366%) hue-rotate(154deg) brightness(107%) contrast(88%);
}

h6.dropdown-header {
  color: var(--nav-higl);
}

.dropdown-divider {
  border-top: 1px solid var(--nav-link);
}


/* sidebar ------------------------------------------------------------------ */
#pkgdown-sidebar a {
  color: var(--sdb-link);
  text-decoration: none;
}

#pkgdown-sidebar a:hover {
  text-decoration: underline;
  color: var(--sdb-hover);
}

h2[data-toc-skip], #pkgdown-sidebar h2[data-toc-skip] {
  font-size: 1.2em;
  /* text-transform: uppercase; */
}

#pkgdown-sidebar small.roles {
  font-size: 0.75em;
  color: var(--sdb-roles);
}


/* footer ------------------------------------------------------------------- */
footer .pkgdown-footer-right {
  flex: 5;
}


/* Format text -------------------------------------------------------------- */
/* link colors */
a {
  color: var(--text-link);
}

a:hover {
  color: var(--a-hover);
}

/* add underline to links in paragraphs */
p a {
  text-decoration: underline var(--text-link) dotted;
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
}

/* headers */
.template-home .page-header {
    min-height: 50px;
}

h1 {
  font-size: 2.0em;
  font-weight: 400;
  color: var(--pg-header);
  letter-spacing: .08em;
}
h2 {
  font-size: 1.7em;
  text-transform: none;
  font-weight: 300;
  color: var(--pg-header);
  letter-spacing: .08em;
}
h3 {
  font-size: 1.2em;
  text-transform: none;
  font-weight: 200;
  color: var(--pg-header);
  letter-spacing: .1em;
}
h4 {
  font-size: 1.2em;
  text-transform: none;
  font-weight: 600;
  color: var(--pg-header);
  letter-spacing: .05em;
}


/* Copy Buttons ------------------------------------------------------------- */
.btn-primary {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}

/* table of contents -------------------------------------------------------- */
nav[data-toggle="toc"] .nav > li > a {
  color: var(--toc-link) !important;
  padding-left: 0.5rem;
  border-radius: 1rem;
  border: white solid;
}

/* Under hover */
nav[data-toggle="toc"] .nav > li > a:hover,
nav[data-toggle="toc"] .nav > li > a:focus,
/* Current */
nav[data-toggle="toc"] .nav-link.active,
nav[data-toggle="toc"] .nav-link.active:hover,
nav[data-toggle="toc"] .nav-link.active:focus
{
  background-color: var(--toc-bkg) !important;
}

/* Nav: second level (shown on .active) */
nav[data-toggle="toc"] .nav-link + ul {
  display: none;
}
nav[data-toggle="toc"] .nav-link.active + ul {
  display: block;
}
nav[data-toggle="toc"] .nav .nav > li > a {
  margin-left: 0.5rem;
}

